<app-home></app-home>
<!-- Section 1-->
<div class="section">
    <h3 class="logoHeader">Ristorante Il Gambero Rosso</h3>
    <div class="card mb-3 my-card">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="/assets/images/restaurant.jpg" class="img-fluid rounded-start" alt="restaurant">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Our family Restaurant</h5>
                    <p class="card-text">Italian cuisine is one of the oldest in the world, whose recipes are passed down from generation to generation and reflect the differences between each of its regions. Most of their dishes follow strictly traditional ingredients ,
                        though some, such as pizzas or pasta, are recreated to fit more successfully into our modern personality.</p>
                    <p>Come dine with us & experience an authentic italian meal in an intimate dining space. We look forward to serving you!
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Section 2 Why Choose us-->
<div class="bg-light section">
    <h3 class="logoHeader">Why choose us</h3>
    <p class="text-center mb-5">Experience a little journey to italy!</p>
    <div class="d-flex justify-content-around px-5">
        <div class="ps-5">
            <h5 class="mb-3">Concept</h5>
            <p>Homemade authentic italian recipes passed on from generations, cooked with only local and seasonal products.</p>
        </div>
        <div>
            <h5 class="mb-3">Lunch Specials</h5>
            <p>Homemade authentic italian recipes passed on from generations, cooked with only local and seasonal products.</p>
        </div>
        <div class="pe-5">
            <h5 class="mb-3">Wine Tasting</h5>
            <p>Homemade authentic italian recipes passed on from generations, cooked with only local and seasonal products.</p>
        </div>
    </div>
</div>

<!-- Section 3-->
<div class="section">
    <h3 class="logoHeader">Check our Specials</h3>
    <p class="text-center pb-5">With regional specialities, the customer buys an awareness of life, a typical eating culture, a product from a familiar setting</p>

    <div class="d-flex m-5">
        <div class="ms-5">
            <h5>Every day new Specials!</h5>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt accusantium alias reiciendis, laborum inventore temporibus repellat quibusdam iure quisquam eos.
        </div>
        <div class="image me-5"></div>
    </div>

</div>