.order {
    width: 100%;
}

.summary {
    width: 40%;
    max-height: 40vh;
}

.cartImage {
    width: 20%;
    height: 20%;
}

.logoHeader {
    font-family: 'Sacramento', cursive;
    font-size: 400%;
}