<div class="container">

    <div class="d-flex justify-content-center my-5">
        <!-- Cart with products -->

        <div class="order border border-black rounded me-5">
            <h4 class="bg-light p-3">Cart - item(s)</h4>
            <div *ngFor="let item of items">

                <div class="d-flex justify-content-between p-1">
                    <img src="/assets/images/{{item.img}}" class="cartImage m-2">
                    <div class="mt-4">
                        <h5>{{item.name}}</h5>
                        <p>{{item.description}}</p>
                    </div>
                    <div class="mt-4 fs-4 px-3 pt-2"><b>{{item.price | currency}}</b></div>
                </div>
                <hr>
            </div>
        </div>

        <!-- Summary box -->

        <div class="summary border border-black rounded mb-5">
            <h4 class="bg-light p-3 ">Summary</h4>

            <!-- Left Side -->
            <div class="d-flex justify-content-between p-3 align-self-start">
                <div>
                    <p>Products</p>
                    <p>Service</p>
                    <p>15 % Discount</p>
                </div>
                <div>
                    <p>{{total | currency}}</p>
                    <p>{{service | currency}}</p>

                    <!-- Discout -->
                    <div *ngIf="total >=40">
                        <p>{{total * 0.15 | currency}}</p>
                    </div>
                </div>
            </div>

            <hr>

            <!-- Right Side -->
            <div class="d-flex justify-content-between p-3">
                <p><b>Total amount</b></p>
                <div>
                    <ng-template [ngIf]="total >= 40" [ngIfElse]="normal">
                        <p>{{total * 0.85 + service | currency}}</p>
                    </ng-template>

                    <ng-template #normal>
                        <p>{{total + service | currency}}</p>

                    </ng-template>
                </div>
            </div>

        </div>
    </div>


    <!-- Order Form -->
    <div class="my-5">
        <h1 class="logoHeader">Order Form</h1>
        <p>please fill up the info for delivery!</p>

        <hr>

        <form [formGroup]="info" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" formControlName="name">
            </div>
            <div class="mb-3">
                <label for="adress" class="form-label">Adress</label>
                <input type="text" class="form-control" id="adress" formControlName="adress">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!info.valid" (click)="orderSent()">Purchase</button>
        </form>

    </div>
</div>