<div class="container">
    <div class="card my-3 detailCard">
        <img src="/assets/images/{{dish.img}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{dish.name}}</h5>
            <p class="card-text">{{dish.description}}</p>
            <p class="d-flex justify-content-end fs-2">{{dish.price | currency}}</p>
            <div class="me-0 d-flex justify-content-end">
                <button type="button" class=" btn btn-success " (click)="addToCart()"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
            </div>
        </div>
    </div>
</div>